<!DOCTYPE HTML>
<html>
<!-- replace with head tag from headers.html -->
<head data-th-replace="fragments/headers::head(title='Add Client')"></head>

<body>
<div class="container">
    <!-- replace with top fragment from clientsPage.html -->
    <div data-th-replace="client/clientsPage::top">....</div>

    <h2>Add Client</h2>
    <!--    <div data-th-if="${errorMessage!=null}"
            style="color:red;font-style:italic" data-th-utext="${errorMessage}">..</div> -->

    <form data-th-action="@{/addClient}" data-th-object="${addClientForm}" method="POST">
        <div class="form-group">
            <label data-th-for="name" data-th-class="${#fields.hasErrors('name')}? fieldError">Name</label>
            <input type="text" class="form-control" placeholder="Enter Name" data-th-field="*{name}"/>
        </div>
        <div class="form-group">
            <label data-th-for="surname" data-th-class="${#fields.hasErrors('surname')}? fieldError">Surname</label>
            <input type="text" class="form-control" placeholder="Enter Surname" data-th-field="${addClientForm.surname}"/>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-success" value="Add"/>
        </div>
    </form>
</div>
</body>
</html>