<!DOCTYPE HTML>
<html>
<!-- replace with head tag from headers.html -->
<head data-th-replace="fragments/headers::head(title='Update Client')"></head>

<body>
<div class="container">
    <!-- replace with top fragment from clientsPage.html -->
    <div data-th-replace="client/clientsPage::top">....</div>

    <h2>Update Client</h2>
    <!--    <div data-th-if="${errorMessage!=null}" style="color:red;font-style:italic" data-th-utext="${errorMessage}">..</div> -->

    <form data-th-action="@{/updateClient}" data-th-object="${updateClientForm}" method="POST">
        <div class="form-group">
            <label data-th-for="id" data-th-class ="${#fields.hasErrors('id')}? fieldError">ID</label>
            <input type="text" class="form-control" placeholder="Enter ID" data-th-field="*{id}"/>
        </div>
        <div class="form-group">
            <label data-th-for="name" data-th-class ="${#fields.hasErrors('name')}? fieldError">Name</label>
            <input type="text" class="form-control" placeholder="Enter Name" data-th-field="*{name}"/>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-success" value="Update"/>
        </div>
    </form>
</div>
</body>
</html>