<!DOCTYPE HTML>
<html>
<!-- replace with head tag from headers.html -->
<head data-th-replace="fragments/headers::head(title='Update Receipt')"></head>

<body>
<div class="container">
    <!-- replace with top fragment from receiptsPage.html -->
    <div data-th-replace="receipt/receiptsPage::top">....</div>

    <h2>Update Receipt</h2>
<!--        <div data-th-if="${errorMessage!=null}" style="color:red;font-style:italic" data-th-utext="${errorMessage}">..</div>-->

    <form data-th-action="@{/updateReceipt}" data-th-object="${updateReceiptForm}" method="POST">
        <div class="form-group">
            <label data-th-for="id" data-th-class ="${#fields.hasErrors('id')}? fieldError">ID</label>
            <input type="text" class="form-control" placeholder="Enter ID" data-th-field="*{id}"/>
        </div>
        <div class="form-group">
            <label data-th-for="dateFitting" data-th-class ="${#fields.hasErrors('dateFitting')}? fieldError">Fitting date</label>
            <input type="text" class="form-control" placeholder="Enter Fitting date" data-th-field="*{dateFitting}"/>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-success" value="Update"/>
        </div>
    </form>
</div>
</body>
</html>